body {
  background-color: #2d2d2d;
  margin-left: -.05vw;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
}

p {
  font-size: 18px;
  padding-left: 3vw;
}

h1 {
  font-size: 72px;
  padding-left: 3vw;
}

a, button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

#wave {
  z-index: -10;
  opacity: 50%;
  position: absolute;
  height: 50vh;
  bottom: 0;
  width: 100%;
  margin-left: -.5vw;
  overflow: hidden;
}

#background {
  position: absolute;
  width: 50vw;
  margin: .9vw;
  border-left: #08F solid 10px;
  background-color: rgba(25, 25, 25, .2);
  height: 95vh;
}

#text {
  width: 100%;
  height: 100%;
  color: #CCC;
  padding-top: 2vh;
}

#links {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  height: 90vh;
  width: 70vh;
  margin-top: -1vh;
}

#card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform .2s;
  z-index: 10;
}

.card:hover {
  opacity: 50%;
}

#card:hover {
  transform: scale(1.1);
}

#tiwime {
  text-align: center;
  margin-left: -3vw;
  margin-bottom: 0px;
}

#daway {
  margin-left: -3vw;
  text-align: center;
  font-size: 36px;
  margin-top: 0px;
}

#shen {
  animation-duration: 16s;
  animation-name: wobble;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: -10;
  color: #CCC;
}

#svg_wrapper {
  position: absolute;
  left: 30vw;
  bottom: -25vh;
  width: 60vw;
  height: 60vh;
  z-index: -10;
}

#note {
  width: 99%;
  height: 57vh;
  background: rgba(0,0,0,0);
  border-style: none;
  color: #DDD;
  font-family: 'Ubuntu', sans-serif;
  outline: none;
  resize: none;
}

@keyframes wobble {
   0%   {transform:rotate(0deg); right: 11px; top: 10px;}
  20%  {transform:rotate(2deg); right: 10px; top: 9px;}
  40%  {transform:rotate(-1deg); right: 10px; top: 10px;}
  60%  {transform:rotate(1deg); right: 9px; top: 11px;}
  80% {transform:rotate(-1.5deg); right: 10px; top: 10px;}
  100% {transform:rotate(1deg); right: 11px; top: 10px;}
}

#greeting {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {opacity: 0%; margin-left: -5vw;}
  100% {opacity: 100%; margin-left: inherit;}
}

.ddg {
  background-image: url("logos/ddg-logo.png");
}

.yt {
  background-image: url("logos/youtube-logo.png");
}

.g {
  background-image: url("logos/google-logo.png");
}

.fb {
  background-image: url("logos/facebook-logo.png");
}

.a {
  background-image: url("logos/amazon-logo.png");
}

.git {
  background-image: url("logos/github-logo.png");
}

.spot {
  background-image: url("logos/spotify.png")
}

@media screen and (min-width: 300px) {
  #card {
    flex: 1 1 calc(100% - 2rem);
  }
}
@media screen and (min-width: 600px) {
  #card {
    flex: 1 1 calc(50% - 2rem);
    height: 32%;
    width: 49%;
  }
}
